.loading-error {
    margin: 120px auto;
    max-width: 500px;
    text-align: center;
    h2 {
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 10px;
    }
    p {
        font-size: 26px;
    }
}
